  <div>

        <div class="frm mx-5 my-5">
            <h2>Add Category</h2><br>
            <form class="form-inline"  style="margin:  0 auto">
                <input  ng-model='selection.Category' type="text"  class="form-control form-group  mb-2" style="width: 50%; margin: auto 0" id="category" placeholder="Enter the category here.." required>

                <button type="submit" class="btn btn-primary mx-2 mb-2" ng-click="AddCategory()" >Add Category</button>
                <div class="spinner-border text-primary {{alertBox1}} mx-2" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </form>
        </div>
              <div class="mx-auto {{alertBox2}} form-inline" style="width: 200px;">
                  <div>Please Wait</div>
                  <div class="spinner-border text-primary mx-2 " role="status">
                      <span class="sr-only">Loading...</span>
                  </div>
              </div>

            <div class="alert alert-warning {{alert}} mx-4"  role="alert">
                No Item To Display
            </div>

      <div class="tbl mx-4 ">
            <table class={{tableclz}} >
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Category Name</th>
                    <th scope="col">No of Items</th>
                    <th scope="col"></th>

                </tr>
                </thead>
                <tbody ng-repeat="list in categoryObjArray">
                    <tr>
                        <th scope="row">{{ $index + 1 }}</th>
                        <td>{{list.categoryName}}</td>
                        <td>{{list.noOfItems}}</td>
                        <td  class=" text-right">
                            <i class="fas fa-pencil-alt text-success  mx-4" style=" cursor: pointer" ng-click="UpdateCategory(list._id)" data-toggle="modal" data-target="#updateCategory" ng-click="updateCategory(list._id)"></i>
                            <i class="fas fa-trash text-danger mx-2" style=" cursor: pointer" ng-click="deleteCategory(list._id)" data-toggle="modal" data-target="#deleteCategory"></i>
                        </td>

                    </tr>

                </tbody>
            </table>
        </div>
  </div>

  <!-- Modal for Delete conformation -->
  <div class="modal fade" id="deleteCategory" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title text-danger" id="delete1" >Are you sure...?</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body">
                  You are going to delete the category.
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-danger" ng-click="deleteCategoryConfirm()" data-dismiss="modal">Yes , Delete</button>
              </div>
          </div>
      </div>
  </div>


  <!-- Modal for Saved conformation -->
  <div class="modal fade" id="save" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title text-success" id="save1" >successfully</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body">
                    You have successfully added the Category to the system
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

              </div>
          </div>
      </div>
  </div>

  <!-- Modal for Update  -->
  <div class="modal fade" id="updateCategory" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title text-success" id="updat1" >Updating Category</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body">
                <div class="form-group">

                    <label >Current category name</label>
                   <div class="form-row">
                        <div class="form-group col-md-12  {{classForUpdateCategoryLoader}}">

                            <div class="spinner-border text-primary mx-2" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                        <div class="form-group col-md-12 {{classForUpdateCategoryTextBox}}">
                            <input class="form-control " ng-model='selection.updateBoxCategoryName' type="text" placeholder="" readonly>
                        </div>
                    </div>

                </div>
                <div class="form-group">
                    <label for="exampleInputEmail2">Enter the new category name</label>
                    <input type="text" class="form-control" ng-model='selection.updateBoxCategoryNewName' id="exampleInputEmail2" aria-describedby="emailHelp">
                </div>

              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-success" ng-click="UpdateCategoryConfirm()" data-dismiss="modal">Update</button>
              </div>
          </div>
      </div>
  </div>


