<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


    <ul class="nav nav-tabs card-header-tabs text-center " >
        <li class="nav-item col-md-12">
            <h1>{{clock | date:'HH:mm:ss'}}</h1>
            <h6 class="form-check">{{displayTodayDate}}</h6>
        </li>
    </ul>

    <hr/>
    <ul class="nav nav-tabs card-header-tabs" >
        <li class="nav-item col-md-12">
            <a class={{clz1}} style="cursor: pointer;" ng-click="changeIndex(0)">Dashboard</a>
        </li>
        <li class="nav-item col-md-12">
            <a class={{clz2}} style="cursor: pointer;" ng-click="changeIndex(1)">Orders</a>
        </li>
        <li class="nav-item col-md-12">
            <a class={{clz2}} style="cursor: pointer;" ng-click="changeIndex(0)">Products</a>
        </li>

    </ul>
</body>
</html>