body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.backgroundTop {
  background-color: beige;
}


@media screen and (orientation: portrait) {
.mobleNu {
    display: none;
    background-color: #282c34;
}
.navBar {
  display: block;
}
.clr {
  background-color: lavender;
}
}

/* For landscape, we want the tool bar stick on the left */

@media screen and (orientation: landscape) {
  .navBar {
    display: none;
  }
  .App1 {

    margin: 0 auto;

  }
  .clr {
    margin-top: 20px;
  }
  .rcorners1 {
    border-radius: 10px;
    border: 1px solid #ad2152;


  }

}