body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.backgroundTop {
  background-color: beige;
}
.img1 {
  /* Location of the image */
  background-image: url("./Components/Images/img1.jpg");

  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;

  /* Background image doesn't tile */
  background-repeat: no-repeat;

  /* Background image is fixed in the viewport so that it doesn't move when
     the content's height is greater than the image's height */
  background-attachment: fixed;

  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;

  /* Set a background color that will be displayed
     while the background image is loading */
  background-color: #464646;

}
.img2 {

  /* Location of the image */
  background-image: url("./Components/Images/img2.jpg");

  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;

  /* Background image doesn't tile */
  background-repeat: no-repeat;

  /* Background image is fixed in the viewport so that it doesn't move when
     the content's height is greater than the image's height */
  background-attachment: fixed;

  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;

  /* Set a background color that will be displayed
     while the background image is loading */
  background-color: #464646;
}
.img3 {

  /* Location of the image */
  background-image: url("./Components/Images/img3.jpg");

  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;

  /* Background image doesn't tile */
  background-repeat: no-repeat;

  /* Background image is fixed in the viewport so that it doesn't move when
     the content's height is greater than the image's height */
  background-attachment: fixed;

  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;

  /* Set a background color that will be displayed
     while the background image is loading */
  background-color: #464646;
}

.boxed-btn31 {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#0181f5+0,5db2ff+100 */
  background: #FE0101;
  /* Old browsers */
  background: -moz-linear-gradient(left, #FE0101 0%, #FEC6F7 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #FE0101 0%, #FEC6F7 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #FE0101 0%, #FEC6F7 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0181f5', endColorstr='#5db2ff',GradientType=1 );
  /* IE6-9 */
  color: #fff;
  display: inline-block;
  padding: 18px 44px;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
  border: 0;
  border: 1px solid transparent;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  text-align: center;
  color: #fff !important;
  text-transform: capitalize;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}


/*ContactUs*/
.fa-home{
  color: red;
}

.fa-phone{
  color: red;
}

.fa-envelope-o{
  color: red;
}

.contactDetails{
  font-family: monospace;
  font-weight: bold;
  font-size: 22px;
  color: red;
}

.contactD{
  font-family: monospace;
  font-size: 18px;
  color: blue;
}

.contactDetails1{
  font-family: monospace;
  font-weight: bold;
  font-size: 36px;
  background: -webkit-linear-gradient(#FE0101, #FEC6F7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.boxed-btn3 {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#0181f5+0,5db2ff+100 */
  background: #FE0101;
  /* Old browsers */
  background: -moz-linear-gradient(left, #FE0101 0%, #FEC6F7 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #FE0101 0%, #FEC6F7 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #FE0101 0%, #FEC6F7 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0181f5', endColorstr='#5db2ff',GradientType=1 );
  /* IE6-9 */
  color: #fff;
  display: inline-block;
  padding: 12px 24px;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 500;
  border: 0;
  border: 1px solid transparent;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  text-align: center;
  color: #fff !important;
  text-transform: capitalize;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}


/*AboutUs*/
.para1{
  font-family: monospace;
  font-weight: bold;
  font-size: 17px;
  color: #FE0579;
}

.boxed-btn {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#0181f5+0,5db2ff+100 */
  background: #FE0101;
  /* Old browsers */
  background: -moz-linear-gradient(left, #FE0101 0%, #FEC6F7 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #FE0101 0%, #FEC6F7 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #FE0101 0%, #FEC6F7 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0181f5', endColorstr='#5db2ff',GradientType=1 );
  /* IE6-9 */
  color: #fff;
  display: inline-block;
  padding: 8px 20px;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 500;
  border: 0;
  border: 1px solid transparent;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  text-align: center;
  color: #fff !important;
  text-transform: capitalize;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.fa-birthday-cake{
  font-size: 17px;
  background: -webkit-linear-gradient(#FE0579, #FB7EE2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (orientation: portrait) {
.mobleNu {
    display: none;
    background-color: #282c34;
}
.navBar {
  display: block;
}
.clr {
  background-color: lavender;
}
}

/* For landscape, we want the tool bar stick on the left */

@media screen and (orientation: landscape) {
  .navBar {
    display: none;
  }
  .App1 {

    margin: 0 auto;

  }
  .clr {
    margin-top: 20px;
  }
  .rcorners1 {
    border-radius: 10px;
    border: 1px solid #ad2152;


  }

}